{% extends "base.html" %}

{% block content %}
    {% if success %}
        Congrats, you just added {{ name }}. Good for you!
        <a href="/manage/">Manage</a> your items, <a href="/marketplace/">shop</a> for something new, or <a href="/additem/">add</a> something else.
    {% else %}
            <button type="button" onClick="window.location('/sell/')" class="btn btn-primary">Back</button>
        <div class="text-center">
        <h3>Upload your item</h3><br/>
        <form enctype="multipart/form-data" method="post" action="">{% csrf_token %}

            {{ form.as_p }}

        <button type="submit" class="btn btn-success" value="Add Item"><a href="/sell/">Add Item</a></button>
        </div>
    {% endif %}


{% endblock %}