{% extends "base.html" %}

{% block content %}
    {% if success %}
        <div style="height:150px;"></div>
        <div class="text-center">
        <img src={{ pic }}/><br/>
        Congrats, you just added {{ item }}. Good for you!<br/>
          <a href="/manage/">Manage</a> your items, <a href="/marketplace/">shop</a> for something new, or <a href="/additem/">add</a> something else.
        </div>
        <div style="height:250px;"></div>

    {% else %}
            <a href="/sell/"><button type="button" class="btn btn-primary">Back</button></a>
        <div class="text-center" style="ul{list-style-type: none;}">
        <h3>Upload your item</h3><br/>
        <form enctype="multipart/form-data" method="post" action="">{% csrf_token %}

            {{ form.as_p }}

            <a href="/sell/"><button type="submit" class="btn btn-success" value="Add Item">Add Item</button></a>
        </div>
    {% endif %}


{% endblock %}