<!DOCTYPE html>
<html>
<head>
    <title>TrunkShow</title>
    <link href="http://127.0.0.1:8000/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="http://127.0.0.1:8000/static/jquery-superbox-0.9.1/jquery.superbox.css" type="text/css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Domine:700'
          rel='stylesheet' type='text/css'>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://127.0.0.1:8000/static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://127.0.0.1:8000/static/jquery-superbox-0.9.1/jquery.superbox-min.js"></script>

    <link href="/maps/documentation/javascript/examples/default.css" rel="stylesheet">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>


</head>
<body style="background-color:#DDDDDD; padding-left: 20px">

<script type="text/javascript">
    $(function(){ $.superbox();});
</script>



<div class="row" style="margin-top:20px;">
    <div class="span2">
        <img src="http://127.0.0.1:8000/static/images/logo.jpeg"/>
    </div>
    <div class="span10" style=";border-radius:20px; margin-top:55px">
        <p style="color:#FFF;font-family: 'Domine', serif;font-size:80px;text-align:left; vertical-align: middle;
        text-shadow: -1px -1px 0 #64421E, 1px -1px 0 #64421E, -1px 1px 0 #64421E, 1px 1px 0 #64421E;">
            TrunkShow</p>
    </div>
</div>


<div class="row">
    <div class="span2.5" ">
        {% block toolbar %}
        {% endblock %}
    </div>
    <div class="span11" style="border-radius:20px; background-color: #FFFFFF; padding: 30px;">

        {% block content %}
        {% endblock %}

        <div class="row" style="border-top-left-radius:50px;">
        </div>
    </div>
</div>


</body>
</html>