{% extends "base.html" %}

{% block content %}

    <div style="height:120px;"></div>

    <div class="row,span10" style="font-family:'Domine',serif;">

        <a href="/marketplace/">
            <div class="span4"
                 style="font-family:'Domine',serif;font-size: 30px;width:100px;padding-top:30px;padding-bottom:30px;padding-left:80px;text-align:left">
                <span style="background-color: #64421E;padding:20px 15px; width:50px;color:white;border-radius: 8px;">Marketplace</span>
            </div>
        </a>

        <a href="/saveditems/">
            <div class="span4"
                 style="font-family:'Domine',serif;font-size:30px;padding-top:30px;padding-bottom:30px;padding-left:189px;text-align: left">
                <span style="background-color: #64421E;padding:20px 15px; width:50px;color:white;border-radius:8px;">Saved Items</span>
            </div>
        </a>

    </div>


    <div style="height:400px;"></div>
{% endblock %}