<!DOCTYPE html>
<html>
<head>
    <title>TrunkShow</title>
    <link href="http://127.0.0.1:8000/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="http://127.0.0.1:8000/static/jquery-superbox-0.9.1/jquery.superbox.css" type="text/css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Domine:700'
          rel='stylesheet' type='text/css'>


</head>
<body style="background-color:#FFF; padding-left: 20px">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://127.0.0.1:8000/static/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://127.0.0.1:8000/static/jquery-superbox-0.9.1/jquery.superbox-min.js"></script>

<script type="text/javascript">
    $(function(){ $.superbox();});
</script>


        {% block content %}
        {% endblock %}


</body>
</html>