{% extends "base.html" %}

{% block content %}
    <div class="hero-unit" style="background-color: #FFFFFF; padding: 0px; padding-top: 14px;">

        <p style="font-family: 'Domine', serif; font-size:50px;text-align: left; padding-left: 50px;padding-bottom: 10px;">
            <span style="font-family: 'Domine', serif; font-size:50px;text-align: left; padding-left: 20px;padding-bottom: 10px;color:blue">
                Sell</span>
            <span style="font-family: 'Domine', serif; font-size:50px;text-align: left;padding-bottom: 10px;">to Jumbos,</span>
        </p>


        <p style="font-family: 'Domine', serif; font-size:50px;text-align: left; padding-left: 20px;padding-bottom: 10px;">
            <span style="font-family: 'Domine', serif; font-size:50px;text-align: left; padding-left: 200px;padding-bottom: 10px;color:blue">
                Buy</span>
            <span style="font-family: 'Domine', serif; font-size:50px;text-align: left;padding-bottom: 10px;">
            from Jumbos</span></p>

        <p style="padding:20px;">Why brave the Boston Craigslist sections when most of what you need is probably next
            door? Trunkshow provides
            a private
            community for Tufts students to sell stuff like old furniture, custom crafts, or last-minute extra concert
            tickets. <br/>

        <div class="well">
            <div class="text-center" style="font-weight:bold">So what's in your trunk?</div>
        </div>

        <div class="row,span10" style="font-family:'Domine',serif;">
            <div  class="span4" style="font-family:'Domine',serif;font-size: 30px;width:100px;padding-top:30px;padding-bottom:30px;padding-left:140px;text-align:left"><a href="/login/">
                <span style="background-color: brown;padding:10px; width:50px;color:white;border-radius: 8px;">Login</span></a></div>
            <div class="span4" style="font-family:'Domine',serif;font-size:30px;padding-top:30px;padding-bottom:30px;padding-right:140px;text-align: right"><a href="/login/">
                <span style="background-color: brown;padding:10px; width:50px;color:white;border-radius: 8px;">Sign up</span></a></div>

        </div>
        <!--div class="row">
            <div class="span5">
                <div class="text-center" style="font-family:'Domine',serif;font-size: 30px;"><a href="/login/"><p>
                    Login</p></a></div>
            </div>

            <div class="span5">
                <div class="text-center" style="font-family:'Domine',serif"><a href="/login/"><p>Sign up</p></a></div>
            </div>
        </div!-->
    </div>
{% endblock %}