{% extends "base.html" %}

{% block content %}
    <div class="hero-unit" style="background-color: #FFFFFF">

    <h1>Sell To Jumbos <br/> Buy From Jumbos</h1><br/>
    <p>Why brave the Boston Craigslist sections when most of what you need is probably next door? Trunkshow provides a private
    community for Tufts students to sell stuff like old furniture, custom crafts, or last-minute extra concert tickets. <br/>

        <div class="well"><div class="text-center">So what's in your trunk?</div></div></p>
    <div class="row">
        <div class="span4">
            <div class="text-center"><a href="/login/"><h3>Login</h3></a></div>
        </div>
        <div class="row4"></div>
        <div class="row4">
        <div class="text-center"><a href="/signup/"><h3>Sign up</h3></a></div>
        </div>
    </div>
    </div>

{% endblock %}