{% extends "base.html" %}

{% block content %}
    <div class="hero-unit" style="background-color: #FFFFFF; padding: 0px; padding-top: 14px;">

        <p style="font-family: 'Domine', serif; font-size:50px;text-align: left; padding-left: 50px;padding-bottom: 10px;">
            <span style="font-family: 'Domine', serif; font-size:50px;text-align: left; padding-left: 20px;padding-bottom: 10px;color:#3C99DF">
                Sell</span>
            <span style="font-family: 'Domine', serif; font-size:50px;text-align: left;padding-bottom: 10px;">to Jumbos,</span>
        </p>


        <p style="font-family: 'Domine', serif; font-size:50px;text-align: left; padding-left: 20px;padding-bottom: 10px;">
            <span style="font-family: 'Domine', serif; font-size:50px;text-align: left; padding-left: 200px;padding-bottom: 10px;color:#3C99DF">
                Buy</span>
            <span style="font-family: 'Domine', serif; font-size:50px;text-align: left;padding-bottom: 10px;">
            from Jumbos</span></p>

        <p style="padding:20px;">Why brave the Boston Craigslist sections when most of what you need is probably next
            door? Trunkshow provides a private community for Tufts students to sell stuff like old furniture, custom crafts,
            or last-minute extra concert tickets. <br/>

        <div class="well">
            <div class="text-center" style="font-weight:bold">So what's in your trunk?</div>
        </div>

        <div class="row,span10" style="font-family:'Domine',serif;">
            <a href="/login/">
                <div class="span4"
                     style="font-family:'Domine',serif;font-size: 30px;width:100px;padding-top:30px;padding-bottom:30px;padding-left:140px;text-align:left">
                    <span style="background-color: #64421E;padding:10px; width:50px;color:white;border-radius: 8px;">Login</span>
                </div>
            </a>
            <a href="/signup/">
                <div class="span4"
                     style="font-family:'Domine',serif;font-size:30px;padding-top:30px;padding-bottom:30px;padding-right:140px;text-align: right">
                    <span style="background-color: #64421E;padding:10px; width:50px;color:white;border-radius: 8px;">Sign up</span>
                </div>
            </a>
        </div>
    </div>
    </div>

{% endblock %}