{% extends "base.html" %}

{% block content %}
    <fieldset>

    <div class="span5" style="margin-top: 20px;">
            <legend><span style="margin-left:0px;margin-top:10px;font-family:'Domine',serif;font-size:35px;text-align: left">Login</span></legend>
        </div>

    <div class="buff" style="height:100px;"></div>
        <div class="text-center">

        {% if error %}
        <p class="error"> {{ error }} </p>
    {% endif %}
    <form action="" method="post"> {% csrf_token %}
        <input type="text" name="username" placeholder="Username"> <br/>
        <input type="password" name="password" placeholder="Password"/> <br/>
      <span class="submit"><button class="btn btn-large btn-info" type="submit" value="Login"> Enter
      </button>
      <input type="hidden" name="next" value="{{ next|escape }}"/> </span>
    </form>
    <br/> <br/>
        </div>
    </fieldset>


{% endblock %}