{% extends "base.html" %}

{% block content %}
    {% if items %}
        <div class="row">
        <div class="span10">
        <div class="pagination">

        {% if items.has_previous %}
          <a href="?page={{ items.previous_page_number }}">previous</a>
        {% endif %}

        <ul>
        {% for page in items.paginator.page_range %}
            {% if page == results.number %}
              <li class="active"><a href="?page={{ page }}">{{ page }}</a></li>
            {% else %}
              <li><a href="?page={{ page }}">{{ page }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
        {% if items.has_next %}
          <a href="?page={{ items.next_page_number }}">next</a>
        {% endif %}
        </div>
        </div>
        </div>
    <div id="pagination">
    <div class="row">
    <div class="span10">
    <ul class ="thumbnails">

        {% for item in items.object_list %}
            {% if forloop.counter|divisibleby:5 %}
                <div class = "row">
            {% endif %}
            <li class="span2">
            <div class="thumbnail">
                <a href="/manage/item/{{ item.id }}" rel="superbox[iframe][400x400]"><img src="{{ item.photo.url }}" /></a><br />
               <!-- <img src="{{ item.photo.url }}"/> -->
                Price: ${{ item.price }} <br />
            </div>
            </li>
            {% if forloop.counter|divisibleby:5 %}
            </div>
            {% endif %}
        {% endfor %}
    </ul>
    </div>
    {% else %}
        You're not selling anything!
        <div style="height:500px;"></div>
    {% endif %}

{% endblock %}
