{% extends "base.html" %}



{% block toolbar %}
    <div style="background-color: #9DD2F4; height:460px; border-radius:20px;padding:10px;">
        <p style="font-family:'Domine',serif;font-size:19px;margin-bottom: 15px;margin-top:12;margin-left:9px">Filters</p>

        <form action="/marketplace/" method="post"> {% csrf_token %}
            <fieldset style="border:2px groove white;display:block;padding:8.75px 10.5px;margin:5px;">
                <legend style="padding:0px 2px 5px 2px;border:none;margin-bottom: 0px;font-size:13px;line-height:20px;padding-top:5px;width:75px;font-family:'Domine',serif;">
                    Price range
                </legend>
                <input style="width:40px;" type="text" id="id_lowprice" name="lowprice" placeholder="  low">
                <span>-</span>
                <input style="Width:40px;" type="text" id="id_highprice" name="highprice" placeholder="  high"/> <br/>
            </fieldset>

            <fieldset style="border:2px groove white;display:block;padding:8.75px 10.5px;margin:5px;">
                <legend style="padding:0px 2px 5px 2px;border:none;margin-bottom: 0px;font-size:13px;line-height:20px;padding-top:5px;
                width:55px;font-family:'Domine',serif;">Category
                </legend>
                <label><input style="width:40px;" type="checkbox" id="id_catBA" name="cat"
                              value="catBA"/>Bathroom</label>
                <label><input style="width:40px;" type="checkbox" id="id_catBD" name="cat"
                              value="catBD"/>Bedroom</label>
                <label><input style="width:40px;" type="checkbox" id="id_catKH" name="cat"
                              value="catKH"/>Kitchen</label>
                <label><input style="width:40px;" type="checkbox" id="id_catLR" name="cat"
                              value="catLR" />Living Room</label>
            </fieldset>
            <br>
            <fieldset style="border:2px groove white;display:block;padding:8.75px 10.5px;margin:5px;">
                <legend style="padding:0px 2px 5px 2px;border:none;margin-bottom: 0px;font-size:13px;line-height:20px;padding-top:5px;
                width:55px;font-family:'Domine',serif;">Sort By
                </legend>
                <label><input style="width:40px;" type="radio" id="id_sortprice" name="sort"
                              value="sortprice"/>Price</label>
                <label><input style="Width:40px;" type="radio" id="id_sortdate" name="sort"
                              value="sortdate"/>Date</label>
            </fieldset>
            <br>
      <span class="submit"><button class="btn btn" style="float:right;margin-right: 10px;" type="submit" value="Apply">
          Apply
      </button>
      <input type="hidden" name="next" value="{{ next|escape }}"/>
                <input type="hidden" name="itemidlist" value="{{ itemidlist }}"/>

        </form>
    </div>
{% endblock %}


{% block content %}

    <div class="span5" style="margin-left: 10px;">
        <span style="margin-left:0px;margin-left:10px;font-family:'Domine',serif;font-size:35px;text-align: left">For Sale</span>
    </div>
    <div class="span4" style="margin-top: 0px; margin-right: 0px;">
        <a href="/saveditems/">
            <div class="span4"
                 style="font-family:'Domine',serif;font-size:16px;padding-top:0px;padding-bottom:10px;padding-left:220px;margin-right:0px;text-align: left">
                <span style="background-color: #64421E;padding:10px 15px; width:50px;color:white;border-radius:8px;">View Saved Items</span>
            </div>
        </a>
    </div>



    {% if items %}
        <div class="row">
            <div class="span10">
                <div class="pagination">
                    {% if items.has_previous %}
                        <a href="?page={{ items.previous_page_number }}">previous</a>
                    {% endif %}
                    <ul>
                        {% for page in items.paginator.page_range %}
                            {% if page == results.number %}
                                <li class="active"><a href="?page={{ page }}">{{ page }}</a></li>
                            {% else %}
                                <li><a href="?page={{ page }}">{{ page }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    {% if items.has_next %}
                        <a href="?page={{ items.next_page_number }}">next</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div id="pagination">
        <div class="row">
        <div class="span10">
            <ul class="thumbnails">

                {% for item in items.object_list %}
                    {% if forloop.counter|divisibleby:5 %}
                        <div class="row">
                    {% endif %}
                <li class="span2">
                    <div class="thumbnail">
                        <a href="/marketplace/item/{{ item.id }}" rel="superbox[iframe][400x400]"><img
                                src="{{ item.photo.url }}"/></a><br/>
                        Price: ${{ item.price }}.00 <br/>
                    </div>
                </li>
                {% if forloop.counter|divisibleby:5 %}
                    </div>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <div style="height:200px;"></div>

        <div class="row">
            <div class="span10">
                <div class="text-center">
                    There's nothing for sale!? Crazy!!
                </div>
            </div>
        </div>
        <div style="height:200px;"></div>
    {% endif %}

{% endblock %}
