{% extends "base.html" %}



{% block toolbar %}
    <div style="background-color: #3C99DF; height:500px; border-radius:20px;padding:10px;">
        <p>Filters</p>
    <form action="/marketplace/" method="post"> {% csrf_token %}
        <p>Price range</p>
        <input style="width:40px;" type="text" id="id_lowprice" name="lowprice" placeholder="low">
        <span>-</span>
        <input style="Width:40px;" type="text" id="id_highprice" name="highprice" placeholder="high"/> <br/>
      <span class="submit"><button class="btn btn-info" type="submit" value="Apply"> Enter
      </button>
      <input type="hidden" name="next" value="{{ next|escape }}"/>
          {% if items %}
        <input style="display: hidden;" type="text" name="itemidlist" value="{{ itemidlist }}"/> </span>
        {% endif %}

    </form>
    </div>
{% endblock %}


{% block content %}

    <div class="span5" style="margin-left: 10px;">
        <span style="margin-left:0px;margin-left:10px;font-family:'Domine',serif;font-size:35px;text-align: left">For Sale</span>
    </div>
    <div class="span4" style="margin-top: 0px; margin-right: 0px;">
        <a href="/saveditems/">
            <div class="span4"
                 style="font-family:'Domine',serif;font-size:16px;padding-top:0px;padding-bottom:10px;padding-left:220px;margin-right:0px;text-align: left">
                <span style="background-color: #64421E;padding:10px 15px; width:50px;color:white;border-radius:8px;">View Saved Items</span>
            </div>
        </a>
    </div>



    {% if items %}
        <div class="row">
            <div class="span10">
                <div class="pagination">
                    {% if items.has_previous %}
                        <a href="?page={{ items.previous_page_number }}">previous</a>
                    {% endif %}
                    <ul>
                        {% for page in items.paginator.page_range %}
                            {% if page == results.number %}
                                <li class="active"><a href="?page={{ page }}">{{ page }}</a></li>
                            {% else %}
                                <li><a href="?page={{ page }}">{{ page }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    {% if items.has_next %}
                        <a href="?page={{ items.next_page_number }}">next</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div id="pagination">
        <div class="row">
        <div class="span10">
            <ul class="thumbnails">

                {% for item in items.object_list %}
                    {% if forloop.counter|divisibleby:5 %}
                        <div class="row">
                    {% endif %}
                <li class="span2">
                    <div class="thumbnail">
                        <a href="/marketplace/item/{{ item.id }}" rel="superbox[iframe][400x400]"><img
                                src="{{ item.photo.url }}"/></a><br/>
                        <!-- <img src="{{ item.photo.url }}"/> -->
                        Price: ${{ item.price }} <br/>
                    </div>
                </li>
                {% if forloop.counter|divisibleby:5 %}
                    </div>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <div style="height:200px;"></div>

        <div class="row">
        <div class="span10">
            <div class="text-center">
        There's nothing for sale!? Crazy!!</div>
        </div></div>
        <div style="height:200px;"></div>
    {% endif %}

{% endblock %}





<!-- <h2>Items</h2>
    <table class="table">
        <tr>
            <th>Seller</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Date Added</th>
            <th>Photo</th>

        </tr>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.seller }}</td>
                <td><button class="btn"><a href="/marketplace/item/{{ item.id }}">{{ item.name }}</a></button></td>
                <td>{{ item.description }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.date_added }}</td>
                <td>{{ item.photo }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
-->

