{% extends "base.html" %}

{% block content %}

    <h2>What would you like to do?</h2>
    <div style="height:100px;"></div>
    <div class="row">
        <div class="span5">
            <div class="text-center">
            <a href="/additem/">Add an item</a> <br/>
        </div>
        </div>
        <div class="span5">
            <div class="text-center">
            <a href="/manage/">Manage your items</a>
            </div>
        </div>
    <div style="height:400px;"></div>
    </div>


{% endblock %}