{% extends "base.html" %}

{% block content %}

    <h2>What would you like to do?</h2>
    <div style="height:100px;"></div>






    <div class="row,span10" style="font-family:'Domine',serif;">

        <a href="/additem/">
            <div class="span5"
                 style="font-family:'Domine',serif;font-size: 30px;padding-top:30px;width:250px;padding-bottom:30px;padding-left:20px;text-align:left">
                <span style="background-color: #64421E;padding:20px 15px; width:50px;color:white;border-radius: 8px;">Add an item</span></div>
        </a>

        <a href="/manage/">
            <div class="span5"
                 style="font-family:'Domine',serif;font-size:30px;padding-top:30px;padding-bottom:30px;width:450px;padding-right:19px;text-align: right">
                <span style="background-color: #64421E;padding:20px 15px;color:white;border-radius:8px;">Manage your items</span>
            </div>
        </a>

    </div>

    <div style="height:200px;"></div>



{% endblock %}