{% extends "base.html" %}

{% block content %}


    <fieldset>
        <legend>Registration</legend>
        {% if errors %}
            {% for error in errors %}
                <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Error: </strong> {{ error }}
                </div>
            {% endfor %}
        {% endif %}
        <form action="" method="post">{% csrf_token %}
            <!--<table>
                <tr>
                    <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }} </td>
                </tr>
                <tr>
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }} </td>
                </tr>
                <tr>
                    <td>{{ form.password2.label_tag }}</td>
                    <td>{{ form.password2 }} </td>
                </tr>
                <tr>
                    <td>{{ form.email.label_tag }}</td>
                    <td>{{ form.email }} </td>
                </tr>
            </table>-->
            {{ form.as_p }}
            <button type="submit" class="btn btn-success" value="Create the account">Create account</button>
        </form>
    </fieldset>

{% endblock %}