{% extends "base.html" %}

{% block content %}

    <div class="span5" style="margin-top: 20px;">
        <span style="margin-left:0px;margin-top:10px;font-family:'Domine',serif;font-size:35px;text-align: left">Saved Items</span>
    </div>

    {% if items %}
        <div class="row">
        <div class="span10">
        <div class="pagination">

        {% if items.has_previous %}
          <a href="?page={{ items.previous_page_number }}">previous</a>
        {% endif %}

        <ul>
        {% for page in items.paginator.page_range %}
            {% if page == results.number %}
              <li class="active"><a href="?page={{ page }}">{{ page }}</a></li>
            {% else %}
              <li><a href="?page={{ page }}">{{ page }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
        {% if items.has_next %}
          <a href="?page={{ items.next_page_number }}">next</a>
        {% endif %}
        </div>
        </div>
        </div>
    <div id="pagination">
    <div class="row">
    <div class="span10">
    <ul class ="thumbnails">
        {% for item in items %}
            {% if forloop.counter|divisibleby:5 %}
                <div class = "row">
            {% endif %}
            <li class="span2">
            <div class="thumbnail">
                <a href="/watch/item/{{ item.id }}" rel="superbox[iframe][400x400]"><img src="{{ item.photo.url }}" /></a><br />
               <!-- <img src="{{ item.photo.url }}"/> -->
                Price: ${{ item.price }} <br />
                Seller: {{ item.seller_name }}
            </div>
            </li>
            {% if forloop.counter|divisibleby:5 %}
            </div>
            {% endif %}
        {% endfor %}
    </ul>
    </div>
    {% else %}
        <div style="height:200px;"></div>

        <div class="row">
        <div class="span10">
            <div class="text-center">

        You're not watching anything!
            </div></div></div>
        <div style="height:200px;"></div>
    {% endif %}

{% endblock %}

